import * as React from 'react'
import { NextPage } from 'next'

const {{pascalCase name}}: NextPage<{{pascalCase name}}Props> = () => {
  return (
    <div>
      <h1>{{pascalCase name}} Page</h1>
    </div>
  )
}

interface {{pascalCase name}}Props {

}

export default {{pascalCase name}}

// import { GetStaticProps } from 'next'
// export const getStaticProps: GetStaticProps = async context => {}

// import { GetStaticPaths } from 'next'
// export const getStaticPaths: GetStaticPaths = async () => {}

// import { GetServerSideProps } from 'next'
// export const getServerSideProps: GetServerSideProps = async context => {}
